.tag{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    &__item{
        text-decoration: none;
        background: #1ed760;
        padding: 4px 7px;
        border-radius: 4px;
        color: #000;
        font-weight: 500;
        font-size: 12px;
        transition: all .4s;
        &:hover{
            background: #1db652;
            color: #000;
        }
    }
}