

.home-section {
    margin-bottom: 25px;
    .home-section__title {
        font-size: 40px;
        color: #fff;
        display: inline-block;
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
    }
}

.c-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    &__item {
        background-color: #000;
        padding: 20px 20px;
        border-radius: 10px;
        max-width: 235px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: all .5s;

        &:hover .c-card__hover{
            width: 100%;
            height: 100%;
        }
    }

    &__hover{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.856);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .6s;

        svg{
            font-size: 50px;
            color: #1ed760;
        }
    }

    &__image {
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__info {
        text-align: center;
        padding-top: 15px;
    }

    &__text {
        color: #fff;
        font-size: 15px;
    }

    &__label {
        font-size: 13px;
        color: rgba(233, 230, 230, 0.356);
    }
}