@import '../../breakpoints.scss';
.playlist-card{
    position: relative;
    background-color: #000;
    max-width: 235px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 20px;
    @include mobile(){
        max-width: 100%;
    }

    &:hover .playlist-card__info{
        height: 100%;
    }

    &__image{
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.856);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all .6s;
    }
    
    &__text{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        transition: all .4s;
        &:hover{
            color: #1ed760;
        }
    }
}