.album-card{
    position: relative;
    background-color: #000;
    max-width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    overflow: hidden;
    gap: 15px;
    &:hover .album-card__image img{
        transform: scale(1.06);
    }
    &__image {
        border-radius: 10px;
        overflow: hidden;
        max-height: 180px;
        max-width: 180px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .4s;
        }
    }
    &__info {
        text-align: center;
        padding-top: 15px;
    }

    &__text {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        transition: all .4s;
        &:hover{
            color: #1ed760;
        }
    }

    &__label {
        font-size: 13px;
        color: rgba(233, 230, 230, 0.533);
    }
}