@import "../../breakpoints.scss";

.search-section {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &--search {
        display: none;
        @include tablet() {
            display: block;
        }
    }
    &__title {
        font-size: 40px;
        color: #1ed760;
        font-weight: bold;
        display: inline-block;
        @include mobile() {
            display: block;
            text-align: center;
        }
    }
}
