div[class*="swiper-button"]{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: #1ed760;
    &:after{
        font-size: 14px;
        color: #fff;
        font-weight: 700;
    }
}